* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

h1 {
  height: 400px;
  padding-top: 20px;
  padding-left: 20px;
  background-image: url(img/mv.jpg);
  background-size: 100%;
  background-position: bottom;
}

.box {
  width: 840px;
  padding-top: 50px;
  padding-bottom: 30px;
  border-bottom: 1px solid #6c6b6b;
  margin: 0 auto;
}

.box2 {
  width: 840px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #6c6b6b;
  margin: 0 auto;
}

.bottom {
  height: 50px;
}
